:root {
  --primary-color: #007bff;
  --secondary-color: #005ec2;
  --bg-white: white;
  --bg-gray: #d9d9d9;
  --border-gray: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* faz com que o padding e a borda não aumentem o tamanho do elemento */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-gray);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 40%;
    max-height: 80%;
    background-color: var(--bg-white);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* header {
      h1{
        padding: 16px 0; 
      }
    } */

    #task-form {
      display: flex;
      gap: 10px;

      input {
        padding: 16px;
        flex: 1;
        border: 1px solid #ccc;
      }

      button {
        padding: 8px 16px;
        border: none;
        background-color: var(--primary-color);
        color: var(--bg-white);
        cursor: pointer;
      }
      button:hover {
        background-color: var(--secondary-color);
      }
    }

    .task-list {
      list-style: none;
      max-height: 50vh;
      overflow-y: auto;

      .task-item {
        margin-top: 16px;
        padding: 16px;
        display: flex;
        border: 1px solid var(--border-gray);

        input {
          width: 5%;

          &:checked {
            + span {
              color: var(--bg-gray);
              text-decoration: line-through;
            }
          }
        }

        span {
          flex: 1;
          padding: 8px;
        }

        button {
          width: 10%;
          background-color: var(--bg-white);
          border: none;
          cursor: pointer;
        }

        button:hover {
          background-color: var(--secondary-color);
        }
      }
    }

    .task-footer {
      padding: 16px;
      background-color: var(--border-gray);
      display: flex;
      justify-content: space-between;

      button {
        padding: 8px 16px;
        border: none;
        background-color: var(--primary-color);
        color: var(--bg-white);
        cursor: pointer;
      }

      button:hover {
        background-color: var(--secondary-color);
      }

      .progress-container {
        width: 50%;
        background-color: var(--bg-gray);
        border-radius: 25px;
        position: relative;
      }

      .progress-bar {
        background-color: green;
        width: 0;
        height: 100%;
        border-radius: 25px;
        transition: 0.3s ease-in-out;
      }
      
      .progress-text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
